# Git
.git/
.gitignore

# IDE и кеши
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Локальные настройки и окружение
.env
.dockerenv
.venv
env/
requirements.txt

# Документация и инструкции
README.md
QR of bot link.png
env_example

# Файлы Docker
.dockerignore
compose.yml
docker-compose.yml
Dockerfile

# Линтеры и статический анализ
.flake8
.pylintrc

# Пользовательские данные (будут монтироваться)
last_winners/
users_logos/